body {
  font: 400 16px 'Roboto', sans-serif;
  margin: 0%;
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
}

@media only screen and (max-width: 360px) {
  body {
    font-size: 12px;
  }
}
/**
* App wide styles
*/
p.text-highlight em { 
  background-color: yellow;
}
