.input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 20px auto;
}

.input-form-field {
    flex-grow: 2;
}

.filters-button {
    margin-left: 1%;
}

mat-form-field.filters-button {
    max-width: 5em;
}
