.input-wrapper {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    align-items: baseline;
    margin: 20px auto;
}

.input-form-field {
    flex-grow: 2;
}

.filters-buttons {
    margin-left: 3%;
}

mat-form-field.filters-buttons {
    max-width: 80px;
}
