<form class="input-wrapper" [formGroup]="searchForm">
  <mat-form-field class="input-form-field">
    <input matInput type="search" formControlName="searchField" placeholder="Type a keyword, e.g. Java" (keydown.enter)="search()" autofocus>
    <button mat-button type="button" *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearchField()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
    <mat-form-field class="filters-buttons">
      <mat-label>Sort by</mat-label>
      <select matNativeControl formControlName="sortField">
        <option value="desc">Newest</option>
        <option value="asc">Oldest</option>
      </select>
    </mat-form-field>
</form>