.header-wrapper {
    padding: 5px 1%;
    /* background-color: #E86329; */
    background-color: #ff6600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (min-width: 800px)  {
    .header-wrapper {
        padding: 5px 2%;
    }
}

@media only screen and (min-width: 1000px)  {
    .header-wrapper {
        padding: 5px 3%;
    }
}

.logo {
    font-size: 1.5em;
    color: white;
    border: 3px solid white;
    margin-right: 5px;
    padding: 0px 6px;
}

a {
    color: inherit;
    text-decoration: inherit;
  }

.header-links {
    justify-self: flex-end;
}

.header-link {
    display: inline-block;
}

.header-link img {
    padding-left: 5%;
    width: 36px;
}